<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li><a href="/recipes">Recipes</a></li>
  <li class="active">New Recipe</li>
</ol>

<%= render 'form' %>

<% content_for :body_class, "main-form" %>

