    <% @title = 'Site Automation With Sitefoil' %>
<% @description = 'Automate Your Site' %>

    <% if user_signed_in? %>

<div class="container">
<h2>My SiteFoil Dashboard</h2>
    <div class="jumbotron center">
     <h3>Welcome to my app!</h3>
 
        
   
      
  
</div>
</div>
  <% else %>
  




	<div class="row slide1">
	<img src="https://s3-us-west-2.amazonaws.com/sitefoil/images/computer-background.jpg" alt="First slide" class="slide-bg">

<!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                            	<span><strong>AUTOMATE WITH SITEFOIL</strong></span>
                            </h2>
                            <br>
                            <h3>
                            	<span>keep your webstore fresh while you do other important stuff</span>
                            </h3>
                            <br>
                            <div class="">
                            	<%= link_to "Start Here", new_recipe_path, class: "btn btn-primary btn-lg active" %>
	        					 
  

                                </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /header-text -->





		
	</div>
    <div class="clearfix"></div>
    <div class="row slide2">
    <img src="https://s3-us-west-2.amazonaws.com/sitefoil/images/main-bg.jpg" alt="Second slide" class="slide-bg">

<!-- Static Header -->
                    <div class="header-text">
                        <div class="col col-md-6 col-sm-12 text-left">
                            <h2>
                                <span><strong>A Simple Add-On</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>Set up is fast and easy. You simply define some rules for your store and then go play outside or something.</span>
                            </h3>
                            <br>
                            <div class="">
                                <%= link_to "Got It - Add It To My Site Now", new_recipe_path, class: "btn btn-primary btn-lg active" %>
                                 
  

                                </div>
                        </div>

                        <div class="col col-md-6 col-sm-12 text-left">
                            <img src="https://s3-us-west-2.amazonaws.com/sitefoil/images/sample-rule.png" alt="ecommerce automation" class="img-responsive">
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /header-text -->





        
    </div>

    <div class="row slide3">

                    <div class="header-text text-center">
                    <div class="col col-md-12">
                    <h2 class="text-center dark-text"><strong>Things You Can Do With SiteFoil</strong></h2>
                    </div>
                    <div class="col col-md-3">
                    <span class="glyphicon glyphicon-stats big-glyphicon text-center" style="margin:auto;"></span>
                    <h3 class="dark-text">Hedge Slow Weekends</h3>
                        <p>Slow Saturday sales got you down? Choose from several different promotions that will boost sales during slow periods and will automatically turn off when you've reached your goal.</p>
                    </div>

                    <div class="col col-md-3">
                    <span class="glyphicon glyphicon-heart big-glyphicon text-center" style="margin:auto;"></span>
                    <h3 class="dark-text">Grow Customer Referrals</h3>
                        <p>Serve returning visitors a simple refer-a-frend pop-up. Then track how many friends your customers can drive to your site and reward them automatically as it happens in real time.</p>
                    </div>

                    <div class="col col-md-3">
                    <span class="glyphicon glyphicon-fullscreen big-glyphicon text-center" style="margin:auto;"></span>
                    <h3 class="dark-text">Encourage Larger Orders</h3>
                        <p>If you have a coupon that only works over a subtotal threshold, automatically let customers know about it when they're a few bucks short.</p>
                    </div>

                    <div class="col col-md-3">
                    <span class="glyphicon glyphicon-flash big-glyphicon text-center" style="margin:auto;"></span>
                    <h3 class="dark-text">Finally Do It Yourself</h3>
                        <p>Make your developers nervous.  Everything you can do with SiteFoil is done without any coding or learning those nerdy programming languages.</p>
                    </div>


                    </div>

    </div>



  <% end %>  
<% content_for :body_class, "home" %>