<h1 style="font-family:">About Us</h1>

<p>Sitefoil provides you with the ability to easily add logic and functionality to your website without modifying existing code.</p>
<p>No coding experience necessary.</p>
<p><strong>If you have ever added Google Analytics to your site, you can do this.</strong></p>
<br /><br />
<div class="">
                                <%= link_to "Sign me up", signup_path, class: "btn btn-primary btn-lg active" %>
                                 
  

                                </div>