<% @title = 'ECommerce Website Marketing Automation by Sitefoil' %>
<% @description = 'Add a layer of personalization to ecommerce websites using powerful ecommerce automation tools.' %>


</div>

<div class="row top-row" style="background:url(https://s3-us-west-2.amazonaws.com/sitefoil/images/computer-view.jpg) center top no-repeat;padding:0px;margin:0px;background-attachment:fixed;background-size:cover;">
<div class="container">
<div class="row text-center">
<div class="col col-md-6 text-center" style="padding:40px 20px;">

<h1 class="text-center white">ECommerce Conversion Rate Optimization </h1>

<h3 class="text-center white">SiteFoil tracks your conversion rates in real time so you can schedule targeted promotions whenever sales start to dip. <br /><br />We call it <strong>conversion rate targeting.</strong> </h3>
</div>
</div>

</div>

</div>



<div class="row">
                        
                        

                        <div class="col col-md-12 col-sm-12 text-center padded" style="background:#FFF;">
                            <h2 class="dark-text">
                                <span><strong>Sample SiteFoil Recipes</strong></span>
                            </h2>
                            <p class="text-center">
                            	The following are several examples of how you can use SiteFoil to automate sale periods, target specific users, or trigger hidden promotions.
                            </p>
                            <br>
                           
                            <div class="container">
                            <div class="row padded">
                                
                                

                                
                                
                                <div class="col col-md-4">
                                    <div class="rounded-box">  
                                        <span class="glyphicon fa fa-shopping-cart big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>    
                                          
                                    <div class="rounded-box">  
                                         <span class="glyphicon fa fa-users big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                         
                                    <div class="rounded-box">  
                                        <span class="glyphicon fa fa-money big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <h4>E-Commerce <i class="fa fa-arrow-right"></i> Site Visitors <i class="fa fa-arrow-right"></i> Promotion</h4>
                                    <p>If the site's conversion rate is below 3% and a site visitor is new, pop-up a custom alert.</p>
                                </div>

                                <div class="col col-md-4">
                                    <div class="rounded-box">
                                        <span class="glyphicon fa fa-users big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                
                                    <div class="rounded-box">   
                                        <span class="glyphicon fa fa-money big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <h4>Site Visitors <i class="fa fa-arrow-right"></i> Promotion</h4>
                                    <p>If a site visitor is from Facebook, apply and submit FACEBOOK coupon code in cart</p>
                                </div>

                                <div class="col col-md-4">
                                    <div class="rounded-box">
                                        <span class="glyphicon fa fa-calendar big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                     <div class="rounded-box">   
                                        <span class="glyphicon fa fa-location-arrow big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <div class="rounded-box">   
                                        <span class="glyphicon fa fa-envelope big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <h4>Time/Date <i class="fa fa-arrow-right"></i> Site URL <i class="fa fa-arrow-right"></i> Promotion</h4>
                                    <p>If today is Wednesday at 5:00pm, display a hidden message on a specific page. </p>

                                    
                                </div>

                            </div>
                            </div>
                             
                        </div>        
                        </div>

                        <div class="row text-center">
                        <h3 class="dark-text">
                                <span>Build your first "recipe" and run it forever for free.  </span>
                            </h3>
                            <div class="">
							 <%= link_to new_recipe_path, data: { no_turbolink: true } do %>
							              <span class="btn btn-primary btn-lg active">Start Here</span> 
							            <% end %>

                               
                                 
  

                                </div>
                                </div>

                                <% content_for :body_class, "flush ecommerce" %>