<h1 style="font-family:">Available Triggers & Actions</h1>

<p>The following lists of available triggers and actions was last updated on December 7, 2014</p>
<p>For additional channels, triggers, or actions, please <%= link_to ('let us know'), new_contact_path %> what you would like to see added.</p>

<hr />
<h2>Available Triggers</h2>
	<ul>
		<li><h3>E-Commerce Triggers</h3>
			<ul>
				<li><strong>Conversion Rate (%)</strong> - trigger an action based on your site's current all-time conversion rate.</li>
				<li><strong>Conversion Rate (%) last 24 hours</strong> - trigger an action based on your site's current 24-hour trailing conversion rate.</li>
				<li><strong>Transactions</strong> - trigger an action based on your site's current all-time number of transactions.</li>
			</ul></li>
		<li><h3>Site Visitor Triggers</h3>
			<ul>
				<li><strong>Country</strong> - trigger an action based on a visitor's country</li>
				<li><strong>IP Address</strong> - trigger an action based on a visitor's ip address</li>
				<li><strong>Language</strong> - trigger an action based on a visitor's language</li>
				<li><strong>Operating System</strong> - trigger an action based on a visitor's operating system</li>
				<li><strong>Platform</strong> - trigger an action based on a visitor's platform</li>
				<li><strong>Referrer</strong> - trigger an action based on the URL where a visitor comes from</li>
				<li><strong>Visitor Type</strong> - trigger an action based on whether the visitor is new or returning</li>
			</ul>
		</li>
		<li><h3>Date/Time Triggers</h3>
			<ul>
				<li><strong>Date</strong> - trigger an action based on the current date </li>
				<li><strong>Hour</strong> - trigger an action based on the current hour </li>
				<li><strong>Hours:minutes</strong> - trigger an action based on the current hour & minute </li>
				<li><strong>Weekday number</strong> - trigger an action based on the current weekday</li>
			</ul>
		</li>
		<li><h3>Site Triggers</h3>
			<ul>
				<li><strong>Element clicked ID</strong> - trigger an action based on what is clicked on your site </li>
				<li><strong>Page URL</strong> - trigger an action based on what URL is visited </li>
				<li><strong>Page Visited</strong> - trigger an action based on what page is visited </li>
			</ul>
		</li>
	</ul>
<hr />
<h2>Available Actions</h2>

	<ul>
		<li><h3>Site Actions</h3>
			<ul>
				<li><strong>Alert</strong> - custom text javascript pop up message </li>
				<li><strong>Autofill</strong> - autopopulate a form field (using ID) with custom text</li>
				<li><strong>Autofill & Submit</strong> - autopopulate a form field (using ID) and submit form</li>
				<li><strong>Custom site banner</strong> - overlay site banner with custom HTML</li>
				<li><strong>Custom site footer</strong> - overlay site footer with custom HTML</li>
				<li><strong>Custom site popup</strong> - overlay jquery popup with custom HTML</li>
				<li><strong>Show hidden element</strong> - add display:block to an element (using ID or class)</li>

			</ul>

		</li>
		<li><h3>Email Actions</h3>
			<ul>
				<li><strong>Send email</strong> - send an email with custom HTML to any recipient email address</li>

			</ul>
		</li>
	</ul>

<br /><br />
<div class="">
                                <%= link_to "Sign me up", signup_path, class: "btn btn-primary btn-lg active" %>
                                 
  

                                </div>