<% @title = 'Marketing Automation With SiteFoil' %>
<% @description = 'Add a layer of personalization to your website using powerful scheduling tools.' %>

<h1>Website Marketing Personalization </h1>

<p>The following lists of available triggers and actions was last updated on December 7, 2014</p>
<p>For additional channels, triggers, or actions, please <%= link_to ('let us know'), new_contact_path %> what you would like to see added.</p>

<hr />
<div class="row">
<div class="col-md-6">
<h2>Available Triggers</h2>
	<ul style="margin:0px; padding:0px;">
		<li style="list-style-type:none;"><h3><div class="rounded-box">  
                                        <span class="glyphicon fa fa-money big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>E-Commerce Triggers</h3>
			<ul>
				<li><strong>Conversion Rate (%)</strong> <br /> trigger an action based on your site's current all-time conversion rate.</li>
				<li><strong>Conversion Rate (%) last 24 hours</strong> <br /> trigger an action based on your site's current 24-hour trailing conversion rate.</li>
				<li><strong>Transactions</strong> <br /> trigger an action based on your site's current all-time number of transactions.</li>
			</ul></li>
		<li style="list-style-type:none;"><h3><div class="rounded-box">  
                                         <span class="glyphicon fa fa-users big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>Site Visitor Triggers</h3>
			<ul>
				<li><strong>Country</strong> <br /> trigger an action based on a visitor's country</li>
				<li><strong>IP Address</strong> <br /> trigger an action based on a visitor's ip address</li>
				<li><strong>Language</strong> <br /> trigger an action based on a visitor's language</li>
				<li><strong>Operating System</strong> <br /> trigger an action based on a visitor's operating system</li>
				<li><strong>Platform</strong> <br /> trigger an action based on a visitor's platform</li>
				<li><strong>Referrer</strong> <br /> trigger an action based on the URL where a visitor comes from</li>
				<li><strong>Visitor Type</strong> <br /> trigger an action based on whether the visitor is new or returning</li>
			</ul>
		</li>
		<li style="list-style-type:none;"><h3><div class="rounded-box">
                                        <span class="glyphicon fa fa-calendar big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>Date/Time Triggers</h3>
			<ul>
				<li><strong>Date</strong> <br /> trigger an action based on the current date </li>
				<li><strong>Hour</strong> <br /> trigger an action based on the current hour </li>
				<li><strong>Hours:minutes</strong> <br /> trigger an action based on the current hour & minute </li>
				<li><strong>Weekday number</strong> <br /> trigger an action based on the current weekday</li>
			</ul>
		</li>
		<li style="list-style-type:none;"><h3><div class="rounded-box">   
                                        <span class="glyphicon fa fa-location-arrow big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>Site Triggers</h3>
			<ul>
				<li><strong>Element clicked ID</strong> <br /> trigger an action based on what is clicked on your site </li>
				<li><strong>Page URL</strong> <br /> trigger an action based on what URL is visited </li>
				<li><strong>Page Visited</strong> <br /> trigger an action based on what page is visited </li>
			</ul>
		</li>
	</ul>


</div>
<div class="col-md-6">
<h2>Available Actions</h2>

	<ul style="margin:0px; padding:0px;">
		<li style="list-style-type:none;"><h3><div class="rounded-box">   
                                        <span class="glyphicon fa fa-location-arrow big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>Site Actions</h3>
			<ul>
				<li><strong>Alert</strong> <br /> custom text javascript pop up message </li>
				<li><strong>Autofill</strong> <br /> autopopulate a form field (using ID) with custom text</li>
				<li><strong>Autofill & Submit</strong> <br /> autopopulate a form field (using ID) and submit form</li>
				<li><strong>Custom site banner</strong> <br /> overlay site banner with custom HTML inside the following output:<br />
				<p class="code">&lt;div class=sitefoil-banner style=z-index:99999;position:fixed;top:0px;width:100%;margin:0px;padding:0px;&gt;Your HTML goes here&lt;/div&gt;</p>

				</li>
				<li><strong>Custom site footer</strong> <br /> overlay site footer with custom HTML inside the following output:<br />
				<p class="code">
					&lt;div class=sitefoil-footer style=z-index:99999;position:fixed;bottom:0px;width:100%;margin:0px;padding:0px;&gt;Your HTML goes here&lt;/div&gt;
				</p>

				</li>
				<li><strong>Custom site popup</strong> <br /> overlay jquery popup with custom HTML inside the following output:
				<p class="code">
					&lt;div id=sitefoil_popup_overlay style=&quot;z-index:10000;position:fixed;top:0px;left:0px;width:100%;height:100%;background:#000;opacity:0&quot;&gt;&lt;/div&gt;&lt;div id=sitefoil_popup style=&quot;opacity:0;display:none;padding:20px;box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;background:#fff;top:0px;animation-top:2s;position:fixed;z-index:10001;&quot;&gt;Your HTML goes here&lt;center&gt;&lt;input style=&quot;margin-top:20px;border:#eee;border-radius:5px;padding:10px;cursor:pointer;&quot; type=button id=sitefoil_popup_ok onclick=sitefoil.popup_close() value=&quot;ok&quot;&gt;&lt;/center&gt;&lt;/div&gt;
				</p>

				</li>
				<li><strong>Show hidden element</strong> <br /> add display:block to an element (using ID or class)</li>

			</ul>

		</li>
		<li style="list-style-type:none;"><h3><div class="rounded-box">   
                                        <span class="glyphicon fa fa-envelope big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>Email Actions</h3>
			<ul>
				<li><strong>Send email</strong> <br /> send an email with custom HTML to any recipient email address</li>

			</ul>
		</li>
	</ul>

<br /><br />


                                </div>



                                </div>

                                <div class="row">

                                <div class="text-center">
                                
                                <%= link_to "Sign me up", signup_path, class: "btn btn-primary btn-lg active" %>
                                 
  

                                </div>
</div>


                                <% content_for :body_class, "features" %>